#ignore all
*

#Unignore everything with an extension
!*.*

#Unignore all Directories
!*/

#Unignore makefuke
!makefile

#Unignore Chapter 3 build files
!buildd
!buildr

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the ASM .o files
*.o



